<p-toast />
<form class="form grid flex justify-content-center p-fluid" [formGroup]="loginForm" (ngSubmit)="signin()">
    <div class="col-12 lg:col-8 grid flex justify-content-center">
        <!-- error message -->
        <p-messages [(value)]="messages" [enableService]="false" />

        <div class="col-12 lg:col-8 title">
            <p>Sign in</p>
        </div>

        <!-- email -->
        <div class="col-12 lg:col-8 field">
            <input id="email" type="text" [autofocus]="true" pInputText formControlName="email" [class.ng-invalid]="
                (f_login.email.touched || submitted) && (f_login.email.hasError('pattern') ||
                f_login.email.hasError('required'))" [class.ng-dirty]="
                (f_login.email.touched || submitted) && (f_login.email.hasError('pattern') ||
                f_login.email.hasError('required'))" class="w-full signin_input" placeholder="Email" />
            @if((f_login.email.touched || submitted) && f_login.email.hasError('required')){
            <small id="username2-help" class="p-error block">Email is Required</small>
            } @else if (f_login.email.hasError('pattern')) {
            <small id="username2-help" class="p-error block">Email is Invalid</small>
            }
        </div>

        <!-- password -->
        <div class="col-12 lg:col-8 field">
            <p-password id="password" [toggleMask]="true" formControlName="password" class="w-full" [feedback]='false'
                [class.ng-invalid]="
                (f_login.password.touched || submitted) && (f_login.password.hasError('pattern') ||
                f_login.password.hasError('required') || f_login.password.hasError('minlength'))" [class.ng-dirty]="
                (f_login.password.touched || submitted) && (f_login.password.hasError('pattern') ||
                f_login.password.hasError('required') || f_login.password.hasError('minlength'))"
                placeholder="Password"></p-password>
            @if((f_login.password.touched || submitted) && f_login.password.hasError('required')){
            <small id="username2-help" class="p-error block">Password is Required</small>
            } @else if (f_login.password.hasError('minlength')) {
            <small id="username2-help" class="p-error block">Password must be at least 6 characters long</small>
            } @else if (f_login.password.hasError('pattern')) {
            <small id="username2-help" class="p-error block">Password must contain at least one uppercase letter and one
                number</small>
            }
            <div class="text-right mt-2">
                <span routerLink="/forget-password" routerLinkActive="router-link-active" class="recover">
                    Forget Password ?
                </span>
            </div>
        </div>

        <!-- submit -->
        <div class="col-12 lg:col-8 field">
            <button pButton pRipple type="submit" class="w-full p-button-rounded signin justify-content-center"
                [disabled]="submitted">
                Sign in
                @if (loading) {
                <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                }
            </button>
        </div>

    </div>

    <div class="col-12 lg:col-8 down">
        <div class="grid flex justify-content-between">
            <div class="col-4">
                <hr>
            </div>
            <div class="col-4 text-center line_text px-0">Or Continue With</div>
            <div class="col-4">
                <hr>
            </div>
        </div>
        <div class="grid flex justify-content-between text-center px-3 pt-5">

            <div class="col-3 logo">
                <img src="../../../../assets/Logo Google.png" alt="">
            </div>

            <div class="col-3 logo">

                <img src="../../../../assets/Logo.png" alt="">
            </div>

            <div class="col-3 logo">

                <img src="../../../../assets/logo facebook.png" alt="">
            </div>

            <div class="col-3 logo">

                <img src="../../../../assets/Logo Apple.png" alt="">
            </div>
        </div>
    </div>
</form>