<form class="form grid flex justify-content-center p-fluid" [formGroup]="loginForm" (ngSubmit)="signin()">
    <div class="col-12 lg:col-8 grid flex justify-content-center">
        <div class="col-12 lg:col-8 title">
            <p>Sign in</p>
        </div>
        <div class="col-12 lg:col-8 field">
            <input id="email" type="text" pInputText formControlName="email" class="w-full signin_input"
                placeholder="Email" />
        </div>

        <div class="col-12 lg:col-8 field">
            <p-password id="password" [toggleMask]="true" formControlName="password" class="w-full"
                placeholder="Password"></p-password>
            <div class="text-right mt-2">
                <span routerLink="/forget-password" routerLinkActive="router-link-active" class="recover">
                    Recover Password ?
                </span>
            </div>
        </div>

        <div class="col-12 lg:col-8 field">
            <button pButton pRipple type="submit" label="Sign in" class="w-full p-button-rounded signin"></button>
        </div>
    </div>
    <div class="col-12 lg:col-8 down">
        <div class="grid flex justify-content-between">
            <div class="col-4">
                <hr>
            </div>
            <div class="col-4 text-center line_text px-0">Or Continue With</div>
            <div class="col-4">
                <hr>
            </div>
        </div>
        <div class="grid flex justify-content-between text-center px-3 pt-5">

            <div class="col-3 logo">
                <img src="../../../../assets/Logo Google.png" alt="">
            </div>

            <div class="col-3 logo">

                <img src="../../../../assets/Logo.png" alt="">
            </div>

            <div class="col-3 logo">

                <img src="../../../../assets/logo facebook.png" alt="">
            </div>

            <div class="col-3 logo">

                <img src="../../../../assets/Logo Apple.png" alt="">
            </div>
        </div>
    </div>
</form>