<div class="grid">
    <div class="col p-0 border-round-right">
        <div class="left_sec flex justify-content-center p-3 font-bold">
            <div>
                <div>
                    <h1>Welcome to<br><span style="color:#122D9C;">Elevate</span></h1>
                    <p>Quidem autem voluptatibus qui quaerat aspernatur <br> architecto natus</p>
                </div>
                <img src="../../../../assets/bro.png" alt="">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="p-3 font-bold">
            <div class="flex flex-row-reverse flex-wrap top">
                <div class=" font-bold border-round m-2">
                    <button pButton pRipple class="p-button-rounded register" routerLink="/register">Register</button>
                </div>
                <div class=" font-bold border-round m-2">
                    <button pButton pRipple class="p-button-sm login" routerLink="/">Sign in</button>
                </div>
                <div class="  font-bold border-round m-2">
                    <p-dropdown [options]="langs" [(ngModel)]="selectedLang" [showClear]="false" />
                </div>
            </div>


            <router-outlet></router-outlet>

        </div>
    </div>
</div>