<p-toast />
<form class="form grid flex justify-content-center p-fluid" [formGroup]="setPasswordForm" (ngSubmit)="signin()">
    <div class="col-12 lg:col-8 grid flex justify-content-center">
        <!-- error message -->
        <p-messages [(value)]="messages" [enableService]="false" />

        <div class="col-12 lg:col-8 title">
            <p>Set a Password</p>
        </div>

        <!-- email -->
        <div class="col-12 lg:col-8 field">
            <input id="email" type="text" pInputText formControlName="email" class="w-full signin_input"
                [class.ng-invalid]="
                (f_setPassword.email.touched || submitted) && (f_setPassword.email.hasError('pattern') ||
                f_setPassword.email.hasError('required'))" [class.ng-dirty]="
                (f_setPassword.email.touched || submitted) && (f_setPassword.email.hasError('pattern') ||
                f_setPassword.email.hasError('required'))" placeholder="Email" />
            @if((f_setPassword.email.touched || submitted) && f_setPassword.email.hasError('required')){
            <small id="username2-help" class="p-error block">Email is Required</small>
            } @else if (f_setPassword.email.hasError('pattern')) {
            <small id="username2-help" class="p-error block">Email is Invalid</small>
            }
        </div>

        <!-- new password -->
        <div class="col-12 lg:col-8 field">
            <p-password id="newPassword" [toggleMask]="true" formControlName="newPassword" class="w-full"
                [class.ng-invalid]="
                (f_setPassword.newPassword.touched || submitted) && (f_setPassword.newPassword.hasError('pattern') ||
                f_setPassword.newPassword.hasError('required') || f_setPassword.newPassword.hasError('minlength'))"
                [class.ng-dirty]="
                (f_setPassword.newPassword.touched || submitted) && (f_setPassword.newPassword.hasError('pattern') ||
                f_setPassword.newPassword.hasError('required') || f_setPassword.newPassword.hasError('minlength'))"
                placeholder="New Password"></p-password>
            @if((f_setPassword.newPassword.touched || submitted) && f_setPassword.newPassword.hasError('required')){
            <small id="username2-help" class="p-error block">Password is Required</small>
            } @else if (f_setPassword.newPassword.hasError('minlength')) {
            <small id="username2-help" class="p-error block">Password must be at least 6 characters long</small>
            } @else if (f_setPassword.newPassword.hasError('pattern')) {
            <small id="username2-help" class="p-error block">Password must contain at least one uppercase letter and one
                number</small>
            }
        </div>

        <!-- submit -->
        <div class="col-12 lg:col-8 field">
            <button pButton pRipple type="submit" [disabled]="submitted"
                class="w-full p-button-rounded signin justify-content-center">
                Confirm
                @if (loading) {
                <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                }
            </button>
        </div>

    </div>

</form>