<form class="form grid flex justify-content-center p-fluid" [formGroup]="forgetPasswordForm"
    (ngSubmit)="forgetPassword()">
    <div class="col-12 lg:col-8 grid flex justify-content-center">
        <p-messages [(value)]="messages" [enableService]="false" />
        <div class="col-12 lg:col-8 title">
            <p>Forgot your password?</p>
        </div>
        <div class="col-12 lg:col-8 field">
            <input id="email" type="text" [autofocus]="true" pInputText formControlName="email" [class.ng-invalid]="
                (f_forgetPassword.email.touched || submitted) && (f_forgetPassword.email.hasError('pattern') ||
                f_forgetPassword.email.hasError('required'))" [class.ng-dirty]="
                (f_forgetPassword.email.touched || submitted) && f_forgetPassword.email.invalid"
                class="w-full signin_input" placeholder="Email" />
            @if((f_forgetPassword.email.touched || submitted) && f_forgetPassword.email.hasError('required')){
            <small id="username2-help" class="p-error block">Email is Required</small>
            } @else if (f_forgetPassword.email.hasError('pattern')) {
            <small id="username2-help" class="p-error block">Email is Invalid</small>
            }
        </div>

        <div class="col-12 lg:col-8 field">
            <button pButton pRipple type="submit" class="w-full p-button-rounded signin justify-content-center"
                [disabled]="submitted">
                Send
                @if (loading) {
                <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                }
            </button>
        </div>
    </div>
    <div class="col-12 lg:col-8 down">
        <div class="grid flex justify-content-between">
            <div class="col-4">
                <hr>
            </div>
            <div class="col-4 text-center line_text px-0">Or Continue With</div>
            <div class="col-4">
                <hr>
            </div>
        </div>
        <div class="grid flex justify-content-between text-center px-3 pt-5">

            <div class="col-3 logo">
                <img src="../../../../assets/Logo Google.png" alt="">
            </div>

            <div class="col-3 logo">

                <img src="../../../../assets/Logo.png" alt="">
            </div>

            <div class="col-3 logo">

                <img src="../../../../assets/logo facebook.png" alt="">
            </div>

            <div class="col-3 logo">

                <img src="../../../../assets/Logo Apple.png" alt="">
            </div>
        </div>
    </div>
</form>