<div class="container grid">
    <div class="menu col-3">
        <div>
            <img src="../../../assets/Final_Logo _1.png" alt="">
        </div>
        <div class="menu-items">
            <div class="dashboard flex align-content-between">
                <img src="../../../assets/Vector.png" alt="">
                <div class="text"> Dashboard</div>
            </div>
            <div class="quizHistory">
                <img src="../../../assets/Vector_1.png" alt="">
                <span> Quiz History</span>
            </div>
        </div>
        <div class="logout">
            <img src="../../../assets/logout.png" alt=""> Log Out
        </div>
    </div>
    <div class="content col-9 ">
        <div class="topbar grid flex align-items-center">
            <div class="col-8">
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-search"></i>
                    <input type="text" class="w-full" pInputText placeholder="Search" />
                </span>
            </div>
            <div class="col-3">
                <button pButton pRipple type="button" class="p-button-rounded start ">
                    Start Quiz
                </button>
            </div>
            <div class="profile col-1">
                <img src="../../../assets/profile.png" alt="">
            </div>
        </div>
        <div class="dashboard-content">
            <div class="header-profile grid">
                <div class="col-3">
                    <img src="../../../assets/header-profile.png" alt="">
                </div>
                <div class="col-9">
                    <div>
                        <h3>Khaled Ahmed</h3>
                        <p>Software Engineer</p>
                    </div>

                    <p-progressBar [value]="value" showValue="false"></p-progressBar>
                </div>

            </div>
        </div>
    </div>
</div>